{% extends 'base-admin.html.twig' %}

{% block title %}Menu link show{% endblock %}

{% block pageheader %}Menu link #{{  menuLink.id }}{% endblock %}

{% block body %}
    <p>
        <div class="btn-group" role="group" aria-label="actions">
            <a href="{{ path('menulink_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to the list</a>
            <a href="{{ path('menulink_edit', { 'id': menuLink.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </div>
    </p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menuLink.id }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>
                    {% if menuLink.type == 'c' %}
                        <a href="{{ path('category_show', { 'id': menuLink.category.id }) }}">
                            {{ menuLink.category.title }}
                        </a> <small>(category)</small>
                    {% elseif menuLink.type == 'p' %}
                        <a href="{{ path('page_show', { 'id': menuLink.page.id }) }}">
                            {{ menuLink.page.name }}
                        </a> <small>(page)</small>
                    {% else %}
                        <a href="{{ menuLink.target }}">
                            {{ menuLink.text }}
                        </a> <small>(custom)</small>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <hr />

    {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    {{ form_end(delete_form) }}
{% endblock %}
