{% extends 'base.html.twig' %}

{% block body %}
    <h1>MenuLink</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menuLink.id }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ menuLink.target }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ menuLink.text }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menulink_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('menulink_edit', { 'id': menuLink.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
