{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block pageheader %}{{ category.title }}{% endblock %}

{% block body %}
    <h1>{{ category.title }}</h1>

    <div class="row-fluid">
        <div class="col-md-12">
            {%  for article in category.articles %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ article.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ article.content|slice(0, 200) }}</p>
                        <p><a href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
