{% extends 'base.html.twig' %}

{% block tinymce %}
    <script src="{{ asset('bundles/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'textarea',  menubar: false });</script>
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/gfi/css/input-file.css') }}" rel="stylesheet">
{% endblock %}

{% block titre %}
	Ajouter un ticket
{% endblock %}

{% block body %}

    {{ form_start(form) }}
		<div class="form-group">
			<label for="{{ form.sujet.vars.id }}">{{ form_label(form.sujet) }} *</label>
			{{ form_errors(form.sujet) }}
			{{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			<label for="{{ form.description.vars.id }}">{{ form_label(form.description) }}</label>
			{{ form_errors(form.description) }}
			{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			<label for="{{ form.criticite.vars.id }}">{{ form_label(form.criticite) }}</label>
			{{ form_errors(form.criticite) }}
			{{ form_widget(form.criticite, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			<label>{{ form_label(form.fichier) }}</label>
			<div class="input-file-container">
				{{ form_widget(form.fichier, {'attr': {'class': 'input-file', 'id': 'my-file'}}) }}
				<label for="my-file" class="input-file-trigger pull-right" tabindex="0">Choisir un fichier...</label>
				<p class="file-return"></p>
			</div>
			{{ form_errors(form.fichier) }}
		</div>


		<div style="display:none;">
			<label for="{{ form.date.vars.id }}">{{ form_label(form.date) }}</label>
			{{ form_errors(form.date) }}
			{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
		</div>
        {{ form_widget(form) }}
        <input class="btn btn-primary pull-right" type="submit" value="Enregistrer" />
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/gfi/js/input-file.js') }}"></script>
{% endblock %}
