{% extends 'base.html.twig' %}

{% block titre %}Ticket N°{{ ticket.id }}{% endblock %}

{% block body %}
    {% set rappel = ticket.rappel %}
    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>N°{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ ticket.statut }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ ticket.sujet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Criticite</th>
                <td>{{ ticket.criticite }}</td>
            </tr>
        </tbody>
    </table>

    {% if rappel %}
    <h1>Rappel</h1>
    <table>
        <tbody>
            <tr>
                <th>Telephone</th>
                <td>{{ rappel.telephone }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rappel.date %}{{ rappel.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{% if rappel.heure %}{{ rappel.heure|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
