{% extends 'base.html.twig' %}

{% block titre %}Ticket N°{{ ticket.id }}{% endblock %}

{% block body %}
    {% set rappel = ticket.rappel %}
    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>N°{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ ticket.statut }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ ticket.sujet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ticket.description }}</td>
            </tr>
            <tr>
                <th>Criticite</th>
                <td>{{ ticket.criticite }}</td>
            </tr>
        </tbody>
    </table>

    {% if rappel %}
    <h1>Rappel</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Telephone</th>
                <td>{{ rappel.telephone }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rappel.date %}{{ rappel.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{% if rappel.heure %}{{ rappel.heure|date('H') }}h{{ rappel.heure|date('i') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
<p class="pull-right">
        <a href="{{ path('ticket_index') }}" class="btn btn-primary">Vos tickets</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning" href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Modifier</a>
            <p>{{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}</p>
        {% endif %}
        </p>
{% endblock %}
