<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Modulo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Modulo styles -->
        <link href="{{ asset('bundles/modulo/css/style.css') }}" rel="stylesheet">
        <!-- Tiny MCE -->
        {% block tinymce %}{% endblock %}
        <!-- Extra custom page head section -->
        {% block pagehead %}{% endblock %}
        <!-- Extra custom page CSS section -->
        {% block pagecss %}{% endblock %}
    </head>
    <body>
        {# ADMIN NAVBAR #}
        {% if is_granted('ROLE_ADMIN') %}
            {{ render(controller('ModuloBundle:Admin:menuAdmin', {'position': 'bottom'})) }}
        {% endif %}

        {{ render(controller('ModuloBundle:Default:menu', {'menu': 'top'})) }}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    {{ render(controller('ModuloBundle:Default:menu', {'menu': 'left'})) }}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">{% block pageheader %}{% endblock %}</h1>

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- Extra custom page footer section -->
        {% block pagefooter %}{% endblock %}
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
        <!-- Extra custom page JavaScript section -->
        {% block pagejs %}{% endblock %}
    </body>
</html>
