<!--
Licence CopyRight Gfi Informatique
==================================

"TNT Support by Gfi" © 2016

Ce projet est une plateforme de ticketing dédiée à TNT.
La société Gfi Informatique en est propriétaire et contractualise l'utilisation de cette platemorme par la société TNT.

Société     < Gfi Informatique >
Développeur < Antoine Subit - antoine.subit@gfi.fr >
Client      < TNT E-Commerce >
-->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}TNT Support by Gfi&copy;{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Gfi styles -->
        <link href="{{ asset('bundles/gfi/css/style.css') }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block tinymce %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row bg-white header">
                <div class="col-md-2 col-sm-2 logo"><a href="{{ path('index') }}"><img src="{{ asset('bundles/gfi/img/logo-tnt.png') }}" alt="Logo TNT" title="TNT Support" width="100%"></a></div>
                <div class="col-md-8 col-sm-8 titre">{% block titre %}{% endblock %}</div>
                <div class="col-md-2 col-sm-2 user">{{ app.user.username }} <a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span></a></div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2 bg-white col-gauche">
                    <ul class="nav nav-sidebar">
                        <li>
                            <a href="{{ path('ticket_index') }}">
                                <img src="{{ asset('bundles/gfi/img/icon-ticket.png') }}" alt="Vos tickets" title="Vos tickets">Vos tickets
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('ticket_new') }}">
                                <img src="{{ asset('bundles/gfi/img/icon-ticket-add.png') }}" alt=">Ajouter un ticket" title=">Ajouter un ticket">Ajouter un ticket
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('rappel_new') }}">
                                <img src="{{ asset('bundles/gfi/img/icon-rappel.png') }}" alt="Être rappelé" title="Être rappelé">Être rappelé
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('section_index') }}">
                                <img src="{{ asset('bundles/gfi/img/icon-baseco.png') }}" alt="Base de connaissance" title="Base de connaissance">Base de connaissance
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 col-sm-10">
                    <div class="content">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
