<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - {% block title %}Modulo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Modulo styles -->
    <link href="{{ asset('bundles/modulo/css/admin.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/modulo/css/style.css') }}" rel="stylesheet">
    <!-- Tiny MCE -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea.tinymce' });</script>
</head>
<body>
{% if is_granted('ROLE_ADMIN') %}
    {{ render(controller('ModuloBundle:Admin:menuAdmin', {'position': 'top'})) }}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ path('page_index') }}">Pages</a></li>
                <li><a href="{{ path('category_index') }}">Categories</a></li>
                <li><a href="{{ path('article_index') }}">Articles</a></li>
                <li><a href="{{ path('menu_index') }}">Menus</a></li>
                <li><a href="{{ path('menulink_index') }}">Menu links</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{% block pageheader %}{% endblock %}</h1>

            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
