{% extends 'base.html.twig' %}

{% block tinymce %}
    <script src="{{ asset('bundles/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'textarea',  menubar: false });</script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/datetimepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/gfi/css/input-file.css') }}" rel="stylesheet">
{% endblock %}

{% block titre %}
    Être rappelé
{% endblock %}

{% block body %}
    {% set prototype_ticket = form.ticket %}

    {{ form_start(form) }}
        <div class="form-group">
            <label for="{{ prototype_ticket.sujet.vars.id }}">{{ form_label(prototype_ticket.sujet) }} *</label>
            {{ form_errors(prototype_ticket.sujet) }}
            {{ form_widget(prototype_ticket.sujet, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="{{ prototype_ticket.description.vars.id }}">{{ form_label(prototype_ticket.description) }}</label>
            {{ form_errors(prototype_ticket.description) }}
            {{ form_widget(prototype_ticket.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="{{ prototype_ticket.criticite.vars.id }}">{{ form_label(prototype_ticket.criticite) }}</label>
            {{ form_errors(prototype_ticket.criticite) }}
            {{ form_widget(prototype_ticket.criticite, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>{{ form_label(prototype_ticket.fichier) }}</label>
            <div class="input-file-container">
                {{ form_widget(prototype_ticket.fichier, {'attr': {'class': 'input-file', 'id': 'my-file'}}) }}
                <label for="my-file" class="input-file-trigger pull-right" tabindex="0">Choisir un fichier...</label>
                <p class="file-return"></p>
            </div>
            {{ form_errors(prototype_ticket.fichier) }}
        </div>
        <div style="display:none;">
            <label for="{{ prototype_ticket.date.vars.id }}">{{ form_label(prototype_ticket.date) }}</label>
            {{ form_errors(prototype_ticket.date) }}
            {{ form_widget(prototype_ticket.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="{{ form.telephone.vars.id }}">{{ form_label(form.telephone) }} *</label>
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group" id="rappel_date_identifier">
            <label for="{{ form.date.vars.id }}">{{ form_label(form.date) }} *</label>
            {{ form_errors(form.date) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <label for="{{ form.heure.vars.id }}">{{ form_label(form.heure) }} *</label>
            {{ form_errors(form.heure) }}
            {{ form_widget(form.heure, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_widget(form._token) }}
        {{ form_widget(form, {'attr': {'style': 'display: none;'}}) }}
        <input class="btn btn-primary pull-right" type="submit" value="Enregistrer" />
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gfi/js/input-file.js') }}"></script>
    <script src="{{ asset('bundles/datetimepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/datetimepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script type="text/javascript">
$('#rappel_date_identifier input').datepicker({
    language: "fr",
    daysOfWeekDisabled: "0,6",
    autoclose: true,
    todayHighlight: true
});
$('#rappel_heure_hour select').datepicker({
    format: 'LT',
});

</script>
{% endblock %}
