{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rappel</h1>

    <table>
        <tbody>
            <tr>
                <th>Sujet</th>
                <td>{{ rappel.ticket.sujet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{% if rappel.ticket.description %}{{ rappel.ticket.description }}{% endif %}</td>
            </tr>
            <tr>
                <th>Criticite</th>
                <td>{% if rappel.ticket.criticite %}{{ rappel.ticket.criticite }}{% endif %}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ rappel.telephone }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rappel.date %}{{ rappel.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{% if rappel.heure %}{{ rappel.heure|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rappel_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('rappel_edit', { 'id': rappel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
