{% set route = path('section_new') %}
{{ form_start(form, {'attr': {'class': 'form-inline', 'action': route}}) }}
    <div class="form-group">
        {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre', 'autofocus': 'autofocus'}}) }}
    </div>
    {{ form_widget(form._token) }}
    {{ form_widget(form, {'attr': {'style': 'display: none;'}}) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form) }}