{% extends 'base-admin.html.twig' %}

{% block title %}Page list{% endblock %}

{% block pageheader %}Page list{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('page_new') }}" class="btn btn-success">Create a new entry</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Content</th>
                    <th>Slug</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                    <td>{{ page.name }}</td>
                    <td>{{ page.content }}</td>
                    <td>{{ page.slug }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                                <a href="{{ path('page_show', { 'id': page.id }) }}" class="btn btn-default">show</a>
                                <a href="{{ path('page_edit', { 'id': page.id }) }}" class="btn btn-default">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
