{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ page.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Head</th>
                <td>{{ page.head }}</td>
            </tr>
            <tr>
                <th>Footer</th>
                <td>{{ page.footer }}</td>
            </tr>
            <tr>
                <th>Css</th>
                <td>{{ page.css }}</td>
            </tr>
            <tr>
                <th>Js</th>
                <td>{{ page.js }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('page_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
