{% extends 'layout.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/gfi/css/front-anonymous.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/gfi/css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% block fos_user_content %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-container">
            <form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post">
                <p class="login-logo"><img src="{{ asset('bundles/gfi/img/login-logo.png') }}"></p>

                <label for="inputEmail" class="sr-only">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nom d'utilisateur" required autofocus>

                <label for="inputPassword" class="sr-only">Mot de pase</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de pase" required>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>-->

                <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>

                <a href="{{ path('fos_user_registration_register') }}" class="link-reset pull-left">Créer un compte</a>
                <a href="{{ path('fos_user_resetting_request') }}" class="link-reset pull-right">Mot de passe oublié</a>
            </form>
        </div>
    {% endblock %}
{% endblock %}