{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></div>
            {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_widget(form, {'attr': {'style': 'display: none;'}}) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form) }}