{% extends 'base-admin.html.twig' %}

{% block title %}Article creation{% endblock %}

{% block pageheader %}Article creation{% endblock %}

{% block body %}
    <p><a href="{{ path('article_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to the list</a></p>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_errors(form.category) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, { 'attr': {'class': 'form-control tinymce'} }) }}
        </div>
            {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Create</button>
    {{ form_end(form) }}
{% endblock %}
