{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block body %}
    <h1>{{ article.title }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('category_show', {'id': article.category.id}) }}">{{ article.category.title }}</a></li>
        <li class="active">{{ article.title }}</li>
    </ol>

    <div class="row-fluid">
        <div class="col-md-12">{{ article.content|raw }}</div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('article_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    {% endif %}
{% endblock %}
