{% extends 'base-admin.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block pageheader %}{{ article.title }}{% endblock %}

{% block body %}
    <p>
        <div class="btn-group" role="group" aria-label="actions">
            <a href="{{ path('article_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to the list</a>
            <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </div>
    </p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td><a href="{{ path('category_show', { 'id': article.category.id }) }}">{{ article.category.title }}</a></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content|raw }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
