{% extends 'base-admin.html.twig' %}

{% block title %}Menu list{% endblock %}

{% block pageheader %}Menu list{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Position</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.title }}</a></td>
                    <td>{{ menu.position }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="{{ path('menu_show', { 'id': menu.id }) }}" class="btn btn-default">show</a>
                            <a href="{{ path('menu_edit', { 'id': menu.id }) }}" class="btn btn-default">edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <p>
        <a href="{{ path('menu_new') }}" class="btn btn-success">Create a new entry</a>
    </p>
{% endblock %}
