{% extends 'base-admin.html.twig' %}

{% block title %}Menu creation{% endblock %}

{% block pageheader %}Menu creation{% endblock %}

{% block body %}
    <p><a href="{{ path('menu_index') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to the list</a></p>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.position) }}
            {{ form_errors(form.position) }}
            {{ form_widget(form.position, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Create</button>
    {{ form_end(form) }}
{% endblock %}
